[submodule "FDCore"]
	path = FDCore
	url = git@github.com:benjamin-fukdawurld/FDCore.git
[submodule "FD3D"]
	path = FD3D
	url = git@github.com:benjamin-fukdawurld/FD3D.git
[submodule "FDCodeAnalyser"]
	path = FDCodeAnalyser
	url = git@github.com:benjamin-fukdawurld/FDCodeAnalyser.git
[submodule "FDEngine"]
	path = FDEngine
	url = git@github.com:benjamin-fukdawurld/FDEngine.git
[submodule "FDGL"]
	path = FDGL
	url = git@github.com:benjamin-fukdawurld/FDGL.git
[submodule "FDSerialize"]
	path = FDSerialize
	url = git@github.com:benjamin-fukdawurld/FDSerialize.git
[submodule "FDJson"]
	path = FDJson
	url = git@github.com:benjamin-fukdawurld/FDJson.git
[submodule "FDLua"]
	path = FDLua
	url = git@github.com:benjamin-fukdawurld/FDLua.git
[submodule "FDPython"]
	path = FDPython
	url = git@github.com:benjamin-fukdawurld/FDPython.git
[submodule "FDQUI"]
	path = FDQUI
	url = git@github.com:benjamin-fukdawurld/FDQUI.git
[submodule "FDSceneGraph"]
	path = FDSceneGraph
	url = git@github.com:benjamin-fukdawurld/FDSceneGraph.git
[submodule "FDScript"]
	path = FDScript
	url = git@github.com:benjamin-fukdawurld/FDScript.git
[submodule "FDXml"]
	path = FDXml
	url = git@github.com:benjamin-fukdawurld/FDXml.git
